.section-2 {
  margin-top: 10vw;
  width: 100vw;
  /* height: 50vw; */

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.info-box {
  position: relative;
  height: 25vw;
  width: 25vw;
  padding: 2vw;

  display: flex;
  gap: 1vw;
  flex-direction: column;
  border-radius: 12px;
  border: 2px solid var(--primary-color);
  box-shadow: 0 0 20px var(--primary-color);

  transition-property: border box-shadow;
  transition-duration: 1s;
}

.info-box::before {
  content: "";
  background-size: cover;
  opacity: 1;
  filter: blur(2px) brightness(60%) var(--info-box-background-filter);

  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;

  border-radius: 10px;

  transition-property: filter;
  transition-duration: 1s;
}

.info-photo-box::before {
  background: url(./../../graphics/photo-editing.png);
}
.info-video-box::before {
  background: url(./../../graphics/video-editing.png);
}
.info-graphic-box::before {
  background: url(./../../graphics/graphic-designing.png);
}

.info-box:hover {
  box-shadow: 0 0 20px var(--primary-color);
}

.info-box-graphic {
  height: 60%;
  width: 100%;
  border-radius: 10px;

  background: #111;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  border: 2px solid var(--primary-color);
  box-shadow: 0 0 20px var(--primary-color);

  transition-property: border box-shadow;
  transition-duration: 1s;
}

.info-box-graphic::before {
  content: "";
  background-size: cover;
  /* opacity: 0.6; */

  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;

  border-radius: 10px;
}

.info-box-graphic img {
  width: 100%;
  z-index: 999;
  border-radius: 10px;
}

.info-box-title {
  font-size: 2vw;
  font-weight: bold;
  margin-left: 0.5vw;
  opacity: 1;
  color: white;

  z-index: 999;
}

.info-box-view-btn {
  align-self: center;
}

.info-box-view-btn-logo {
  width: 4vw;
  height: 4vw;
  vertical-align: middle;
  fill: var(--primary-color);
  overflow: hidden;
  filter: drop-shadow(0 0 1px var(--primary-color));

  transition-property: fill filter;
  transition-duration: 1s;
}

@media (max-width: 1000px) {
  .section-2 {
    justify-content: center;
    gap: 5vw;
  }
  .info-box {
    height: 40vw;
    width: 40vw;
    padding: 3vw;
    gap: 2vw;
  }
  .info-box-title {
    font-size: 3vw;
  }

  .info-box-view-btn-logo {
    width: 7vw;
    height: 7vw;
  }
}

@media (max-width: 800px) {
  .info-box {
    height: 70vw;
    width: 70vw;
    padding: 5vw;
    gap: 5vw;
  }

  .info-box-title {
    font-size: 6vw;
  }

  .info-box-view-btn-logo {
    width: 9vw;
    height: 9vw;
  }
}

@media (max-width: 600px) {
  .info-box {
    height: 80vw;
    width: 80vw;

    box-shadow: 0 0 5px var(--primary-color);
  }

  .info-box-title {
    font-size: 7vw;
  }

  .info-box-view-btn-logo {
    width: 12vw;
    height: 12vw;
  }
}
