.side-nav {
  position: absolute;
  width: clamp(100px, 70vw, 400px);
  height: max(100vh, 100%);
  background-color: #222;
  transform: translateX(-400px);
  transition: transform 500ms;
  z-index: 1000;

  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  top: 0;

  display: none;
}

.side-nav-sticky {
  position: sticky;
  height: 100vh;
  top: 0%;

  background: url(../../graphics/side-nav-red.png);
  background-size: cover;

  display: flex;
  flex-direction: column;

  justify-content: center;
  /* filter: hs; */
}

.side-nav-content {
  width: 100%;
  height: 100%;

  transition-property: backdrop-filter;
  transition-duration: 500ms;

  backdrop-filter: var(--background-filter);

  display: flex;
  /* justify-content: center;
  align-items: center; */
}

.close-side-nav-btn {
  width: 4vw;

  position: absolute;
  top: 3%;
  right: 8%;

  fill: var(--primary-color);
}

.side-nav.show {
  transform: translateX(0px);
}

.side-nav-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  width: clamp(100px, 70vw, 400px);
  height: 100vh;
  object-fit: cover;
}

.side-nav-items {
  margin-top: 20vw;
  padding: 10vw 14vw;
  font-size: 6vw;

  display: flex;
  flex-direction: column;
}

.side-nav-items li {
  margin-bottom: 10px;
  cursor: pointer;
  /* width: fit-content; */

  background: linear-gradient(
      transparent 0%,
      transparent 90%,
      var(--primary-color) 90%,
      var(--primary-color) 100%
    )
    black;

  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-position-x: right;

  transition: background-size 300ms;

  color: var(--primary-color);
  text-shadow: 0 0 20px var(--primary-color);

  padding: 4vw 4vw;

  text-align: center;
  border-radius: 2vw;
  border: 2px solid var(--primary-color);

  display: flex;
  gap: 2vw;
}

.side-nav-items li:hover {
  background-size: 100% 100%;
  background-position-x: left;
}

@media (max-width: 600px) {
  .side-nav {
    display: block;
  }
}
