/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap"); */

body {
  background-image: var(--background);
  background-repeat: no-repeat;
  background-position: center 30%;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  /* background-attachment: fixed; */

  transition-property: backdrop-filter;
  transition-duration: 500ms;
  /* margin: 0 !important; */
  /* padding: 0 !important; */
  backdrop-filter: var(--background-filter);
  position: relative;
  width: 102%;
  overflow-x: hidden;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 10vw;
}
